language: go
sudo: required

go:
- "1.10.x"

cache:
  directories:
    - node_modules

install:

before_install:
- go get -u github.com/alecthomas/gometalinter
- go get -u github.com/mattn/goveralls
- export PATH=$PATH:$GOPATH/bin
- gometalinter --install --update
- go generate -x ./...
- sudo npm install --global yarn
- cd gui
- yarn install
- yarn build
- cd ..

script:
- travis_wait 30 go test ./... -v -covermode=count -coverprofile=coverage.out -timeout 100m

after_success:
- gometalinter -e bindata --deadline=1000s ./...
- goveralls -coverprofile=coverage.out -service=travis-ci
