body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.slide-enter-active {
    position: absolute;
    width: 100%;
    transform: translateX(100%);
}

.slide-exit-active {
    position: absolute;
    width: 100%;
    transform: translateX(0%);
}
.slide-appear-active {
  position: absolute;
  width: 100%;
  transform: translateX(100%);
}
